<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Pakistan Reinsurance Company Limited">

    <title>Pakistan Reinsurance Company Limited</title>

    <!-- vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="../lib/rickshaw/rickshaw.min.css" rel="stylesheet">
    <link href="../lib/chartist/chartist.css" rel="stylesheet">
	<link href="../lib/highlightjs/github.css" rel="stylesheet">
	<link href="../lib/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="../lib/jquery.steps/jquery.steps.css" rel="stylesheet">
	
	 
	

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="../css/bracket.css">
	
  </head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href="index.html"><img src="../img/logo.png" alt=""></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
      <div class="br-sideleft-menu">
        <a href="index.html" class="br-menu-link ">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
            <span class="menu-item-label">Dashboard</span>
          </div><!-- menu-item -->
        </a>
       
        
        <a href="#" class="br-menu-link active show-sub">
          <div class="br-menu-item">
	
            <i class="menu-item-icon fa fa-handshake-o tx-18"></i>
            <span class="menu-item-label">Treaty</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="Request-Note.html" class="nav-link ">Request Note</a></li>
          <li class="nav-item"><a href="Analysis.html" class="nav-link active">Analysis</a></li>
          <li class="nav-item"><a href="Advice.html" class="nav-link">Advice</a></li>
          <li class="nav-item"><a href="Master-Statement.html" class="nav-link">Master Statement</a></li>
          <li class="nav-item"><a href="Debit-Note-Report.html" class="nav-link">Debit Note Report</a></li>
          <li class="nav-item"><a href="Endorsement.html" class="nav-link">Endorsement</a></li>
        </ul>
        <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon fa fa-users tx-18"></i>
            <span class="menu-item-label">Facultative</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="Request-Node.html" class="nav-link">Request Node</a></li>
          <li class="nav-item"><a href="Note-Sheet-Summary.html" class="nav-link">Note Sheet Summary</a></li>
          <li class="nav-item"><a href="Clossing-Particular.html" class="nav-link">Clossing Particular</a></li>
          <li class="nav-item"><a href="Endorsement.html" class="nav-link">Endorsement</a></li>
          <li class="nav-item"><a href="Table-Dynamic.html" class="nav-link">Table Dynamic</a></li>
        </ul>
        <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon fa fa-reply tx-18"></i>
            <span class="menu-item-label">Retrocessions</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="Underwriting-Information.html" class="nav-link">Underwriting Information</a></li>
          <li class="nav-item"><a href="Broker.html" class="nav-link">Broker</a></li>
          <li class="nav-item"><a href="Analysis.html" class="nav-link">Analysis</a></li>
          <li class="nav-item"><a href="Debit-Note.html" class="nav-link">Debit Note</a></li>
          <li class="nav-item"><a href="Endorsement.html" class="nav-link">Endorsement</a></li>
        </ul>
       
     
	  <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon fa fa-exclamation-triangle tx-18"></i>
            <span class="menu-item-label">Claims </span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="Pla.html" class="nav-link">Pla</a></li>
          <li class="nav-item"><a href="Claim.html" class="nav-link">Claim</a></li>
        </ul>
		 <a href="Extra.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-settings tx-18"></i>
            <span class="menu-item-label">Extra </span>
          </div><!-- menu-item -->
        </a>
		
      </div><!-- br-sideleft-menu -->

      <label class="sidebar-label pd-x-15 mg-t-25 mg-b-20 tx-info op-9">Information Summary</label>

      <div class="info-list">
        <div class="d-flex align-items-center justify-content-between pd-x-15">
          <div>
            <p class="tx-10 tx-roboto tx-uppercase tx-spacing-1 tx-white op-3 mg-b-2 space-nowrap">Memory Usage</p>
            <h5 class="tx-lato tx-white tx-normal mg-b-0">32.3%</h5>
          </div>
          <span class="peity-bar" data-peity='{ "fill": ["#336490"], "height": 35, "width": 60 }'>8,6,5,9,8,4,9,3,5,9</span>
        </div><!-- d-flex -->

        <div class="d-flex align-items-center justify-content-between pd-x-15 mg-t-20">
          <div>
            <p class="tx-10 tx-roboto tx-uppercase tx-spacing-1 tx-white op-3 mg-b-2 space-nowrap">CPU Usage</p>
            <h5 class="tx-lato tx-white tx-normal mg-b-0">140.05</h5>
          </div>
          <span class="peity-bar" data-peity='{ "fill": ["#1C7973"], "height": 35, "width": 60 }'>4,3,5,7,12,10,4,5,11,7</span>
        </div><!-- d-flex -->

        <div class="d-flex align-items-center justify-content-between pd-x-15 mg-t-20">
          <div>
            <p class="tx-10 tx-roboto tx-uppercase tx-spacing-1 tx-white op-3 mg-b-2 space-nowrap">Disk Usage</p>
            <h5 class="tx-lato tx-white tx-normal mg-b-0">82.02%</h5>
          </div>
          <span class="peity-bar" data-peity='{ "fill": ["#8E4246"], "height": 35, "width": 60 }'>1,2,1,3,2,10,4,12,7</span>
        </div><!-- d-flex -->

        <div class="d-flex align-items-center justify-content-between pd-x-15 mg-t-20">
          <div>
            <p class="tx-10 tx-roboto tx-uppercase tx-spacing-1 tx-white op-3 mg-b-2 space-nowrap">Daily Traffic</p>
            <h5 class="tx-lato tx-white tx-normal mg-b-0">62,201</h5>
          </div>
          <span class="peity-bar" data-peity='{ "fill": ["#9C7846"], "height": 35, "width": 60 }'>3,12,7,9,2,3,4,5,2</span>
        </div><!-- d-flex -->
      </div><!-- info-lst -->

      <br>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="input-group hidden-xs-down wd-170 transition">
          <input id="searchbox" type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div><!-- input-group -->
      </div><!-- br-header-left -->
      <div class="br-header-right">
        <nav class="nav">
          <div class="dropdown">
            <a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
              <i class="icon ion-ios-bell-outline tx-24"></i>
              <!-- start: if statement -->
              <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span>
              <!-- end: if statement -->
            </a>
            <div class="dropdown-menu dropdown-menu-header wd-300 pd-0-force">
              <div class="d-flex align-items-center justify-content-between pd-y-10 pd-x-20 bd-b bd-gray-200">
                <label class="tx-12 tx-info tx-uppercase tx-semibold tx-spacing-2 mg-b-0">Notifications</label>
                <a href="" class="tx-11">Mark All as Read</a>
              </div><!-- d-flex -->

              <div class="media-list">
                <!-- loop starts here -->
                <a href="" class="media-list-link read">
                  <div class="media pd-x-20 pd-y-15">
                    <img src="../img/280x280.png" class="wd-40 rounded-circle" alt="">
                    <div class="media-body">
                      <p class="tx-13 mg-b-0 tx-gray-700"><strong class="tx-medium tx-gray-800">Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p>
                      <span class="tx-12">October 03, 2019 8:45am</span>
                    </div>
                  </div><!-- media -->
                </a>
                <!-- loop ends here -->
                <a href="" class="media-list-link read">
                  <div class="media pd-x-20 pd-y-15">
                    <img src="../img/280x280.png" class="wd-40 rounded-circle" alt="">
                    <div class="media-body">
                      <p class="tx-13 mg-b-0 tx-gray-700"><strong class="tx-medium tx-gray-800">Mellisa Brown</strong> appreciated your work <strong class="tx-medium tx-gray-800">The Social Network</strong></p>
                      <span class="tx-12">October 02, 2017 12:44am</span>
                    </div>
                  </div><!-- media -->
                </a>
                <a href="" class="media-list-link read">
                  <div class="media pd-x-20 pd-y-15">
                    <img src="../img/280x280.png" class="wd-40 rounded-circle" alt="">
                    <div class="media-body">
                      <p class="tx-13 mg-b-0 tx-gray-700">20+ new items added are for sale in your <strong class="tx-medium tx-gray-800">Sale Group</strong></p>
                      <span class="tx-12">October 01, 2019 10:20pm</span>
                    </div>
                  </div><!-- media -->
                </a>
                <a href="" class="media-list-link read">
                  <div class="media pd-x-20 pd-y-15">
                    <img src="../img/280x280.png" class="wd-40 rounded-circle" alt="">
                    <div class="media-body">
                      <p class="tx-13 mg-b-0 tx-gray-700"><strong class="tx-medium tx-gray-800">Julius Erving</strong> wants to connect with you on your conversation with <strong class="tx-medium tx-gray-800">Ronnie Mara</strong></p>
                      <span class="tx-12">October 01, 2019 6:08pm</span>
                    </div>
                  </div><!-- media -->
                </a>
                <div class="pd-y-10 tx-center bd-t">
                  <a href="" class="tx-12"><i class="fa fa-angle-down mg-r-5"></i> Show All Notifications</a>
                </div>
              </div><!-- media-list -->
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
          <div class="dropdown">
            <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
              <span class="logged-name hidden-md-down">Irfan Ahmed</span>
              <img src="../img/64x64.png" class="wd-32 rounded-circle" alt="">
              <span class="square-10 bg-success"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-header wd-200">
              <ul class="list-unstyled user-profile-nav">
                <li><a href=""><i class="icon ion-ios-person"></i> Edit Profile</a></li>
                <li><a href=""><i class="icon ion-ios-gear"></i> Settings</a></li>
                <li><a href="signin-simple.html"><i class="icon ion-power"></i> Sign Out</a></li>
              </ul>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </nav>
      </div><!-- br-header-right -->
    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->

    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
	<div class="br-pageheader pd-y-15 pd-l-20">
      <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="#">Treaty</a>
        <span class="breadcrumb-item active">Statistics</span>
      </nav>
    </div><!-- br-pageheader -->
	
	
      <div class="pd-30">
        <h4 class="tx-gray-800 mg-b-5">Treaty Statistics</h4>
      </div><!-- d-flex -->

      
		
      <div class="br-pagebody mg-t-5 pd-x-30">
	  

		  <div class="bg-gray-100 bd pd-x-20 pd-t-20-force pd-b-10-force">
          
              
			  <div class="row">
			  
			  <div class="cocol-lg-3">
                <div class="form-group mg-b-10-force">
                  <label class="form-control-label">Name Of Cedent </label>
                   <select class="form-control select2">
				<option>M/s EFU Insurance Company</option>
				<option>M/s New Jubilee Insurance Company</option>
				<option>M/s Adam Jee Insurance Company</option>
				<option>M/s Cresent Company</option>
				<option>M/s ABC Insurance Company</option>
				
				   </select>
                </div>
              </div>
			  
			  
			<div class="cocol-lg-3">
                <div class="form-group mg-b-10-force">
                  <label class="form-control-label">Policy Class </label>
                   <select class="form-control select2">
				<option>Fire</option>
				<option>Marine</option>
				   <option>Engineering</option>
                   <option>Aviation</option>				
				   <option>Accident</option>
				   </select>
                </div>
              </div>

			<div class="cocol-lg-3">
                <div class="form-group mg-b-10-force">
                  <label class="form-control-label">Type Of Treaty </label>
                   <select class="form-control select2">
				   <option>Fire 1st Surplus</option>
				   <option>Fire 2nd Surplus</option>
				   <option>Maring Hull QS</option>
				   </select>
                </div>
              </div>
			  			  
			  <div class="col-lg-3">
                <div class="form-group mg-b-10-force">
                  <label class="form-control-label">Type Of Business </label>
                   <select class="form-control select2">
				   <option>Marine</option>
				   <option>Fire</option>
				   <option>Accident</option>
				   </select>
                </div>
              </div>
			  
			   <div class="col-lg-2">
			  
			  <!--div class="pd-t-30-force">
<button class="btn btn-dark tx-12 tx-uppercase tx-spacing-2">Search</button>
			  </div-->
			  
			  
            </div>
			                   
			  
 
            
          </div><!-- d-flex --> 
		  </div>
		  
	  	  <div class="br-section-wrapper">
		

  
  <div class="table-wrapper">
             <table id="datatable1" class="table display responsive nowrap">
			  <thead>
                <tr>
				  <th class="wd-5p">S #</th>
				  <th class="wd-15p">Year</th>
                  <th class="wd-15p">Particulars</th>
                  <th class="wd-15p">Value</th>
                  <!--th class="wd-15p">Type Of Business</th-->
                  <th class="wd-10p">Status</th>
                  <th class="wd-20p">Action</th>
                </tr>
              </thead>
			  
              
              <tbody>
                <tr>
                  <td>1	</td>
                  <td>2014</td>
                  <td>PIC's Shares</td>
				  <td>7.5%</td>
				  <td></td>
                  <td>In Process	</td>
                  <td>
				  <button onClick="window.location.href = 'view_details.html';" class="btn btn-secondary button1  mg-b-0">View Detail</button>
				  <button onClick="window.location.href = '#';" class="btn btn-success button1  mg-b-0">Edit</button>
				  </td>
                </tr>
				
				<tr>
                  <td>2</td>
                  <td>B123</td>
                  <td>16-1-2019	</td>
                  <td>New Jubilee</td>
                  <td>Fire</td>
                  <td>Fresh	</td>
                  <td>
				   <button onClick="window.location.href = 'view_details.html';" class="btn btn-secondary button1  mg-b-0">View Detail</button>
				  <button onClick="window.location.href = '#';" class="btn btn-success button1  mg-b-0">Edit</button>
				  </td>
                </tr>
				
				<tr>
                  <td>3</td>
                  <td>C123</td>
                  <td>16-2-2019	</td>
                  <td>Adam Jee	</td>
                  <td>Accident</td>
                  <td>Pending	</td>
                  <td>
				   <button onClick="window.location.href = 'view_details.html';" class="btn btn-secondary button1  mg-b-0">View Detail</button>
				  <button onClick="window.location.href = '#';" class="btn btn-success button1  mg-b-0">Edit</button>
				  </td>
                </tr>
                
                
                
              </tbody>
            </table>
          </div>

</div>

      </div><!-- br-pagebody -->
      <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">Copyright &copy; 2020. Pakistan Reinsurance Company Limited. All Rights Reserved.</div>
          <div>Attentively and carefully made by Sapphire Consulting Services.</div>
        </div>
        
      </footer>
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->


 <script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="../lib/peity/jquery.peity.js"></script>
    <script src="../lib/highlightjs/highlight.pack.js"></script>
    <script src="../lib/datatables/jquery.dataTables.js"></script>
    <script src="../lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../js/bracket.js"></script>
    <script>
      $(function(){
        'use strict';

        $('#datatable1').DataTable({
          responsive: true,
          language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
          }
        });

        $('#datatable2').DataTable({
          bLengthChange: false,
          searching: false,
          responsive: true
        });

        // Select2
        $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

      });
    </script>
	
	
	
  </body>
</html>
